name: Run QA Automation

on:
  push:
    branches: [main]

jobs:
  scrape-and-sum:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run scraping script by 24f2008495@ds.study.iitm.ac.in
        run: node sum-tables.js
